html, body {
    margin: 1;
    padding: 1;
    text-align: center;
  }

h1 {
    height: 50px;
    align-self: center;
    text-align: center;
    font-size: 20mm;
    font-family: monospace;
    color: orangered;
}  

img {
    height: 750px;
    width:1000px;
} 
  
body {
    font-family: 'Georgia';
    background-image: url("Project 2 Images/white-paper-texture_1194-2324.avif");
}